
<%if @words.length().>(0)%>
  <h1>Your words:</h1>
  <div>
    <ul>
      <%@words.each() do |word|%>
      <li><a href='/words/<%= word.id() %>'><%= word.name() %></a></li>
      <%end%>
    </ul>
  </div>
  <div>
    <a href='/words/new'>Add Another Word</a>
  </div>
<%else%>
<div>
  <h1>Dictionary!</h1>
</div>
<div>
  <a href='/words/new'>Add a Word</a>
</div>
<%end%>
