<h1>Dictionary</h1>

<a href='/words/new'>Add a Word</a>

<h1>Words</h1>
<ul>
  <% @word_entries.each() do |word| %>
    <li><a href="/words/<%= word.id() %>"><%= word.word_entry()%></a></li>
  <% end %>
</ul>
