<h1><%= @word.name() %></h1>
<div>
  <%@word.definition().each() do |definition, i|%>
  <ul>
    <li>Definition</li>
    <li>Definition: <%=definition.definition_one()%></li>
  </ul>
  <br>
  <% end %>
</div>

<ul>
  <li><a href='/words/<%=@word.id()%>/definitions/new'>Add a Definition</a></li>
  <li><a href='/'>Home</a></li>
</ul>
