
<h1>Congratulations!</h1>
<h3><%= @word_entry %></h3>

<a href='/'>Home</a>
<a href='/words/new'>Add Another Word</a>
<a href ='/words/<%=@word.id()%>/definitions/new'>Add a definition for <%= @name %></a>
