.dictionary-header {
  font-weight: bold;
  margin: 50px;
  border: 10px;
  text-align: center;
}

.dictionary-results {
  font-size: 2em;
  margin: 5px;
  border: 10px;
  text-align: left;
}

.dictionary-form {
  font-size: 1.6em;
  margin: 20px;
  border: 10px;
  text-align: left;
}
